- 상품을 판매하는 회사의 마케팅에 활용 되는 데이터셋
    - https://drive.google.com/file/d/10wvSMDEC6pzNez1rXI_oyv4IMuy5sWep/view?usp=sharing
    - 신제품 마케팅에 대한 비용을 지출하는 대신 고객별 맞춤 캠페인을 진행하기 위한 분석용 데이터셋
    - target 정보
        - 마케팅 켐페인 수락 여부

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data_path = '/content/drive/MyDrive/data_lion'

In [5]:
import pandas as pd
df = pd.read_csv(f'{data_path}/campaign_train.csv')
df.head()

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396.0,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947.0,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570.0,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929.0,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937.0,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1344 non-null   object
 1   출생연도               1344 non-null   int64
 2   고객_교육수준            1331 non-null   object
 3   고객_결혼여부            1337 non-null   object
 4   고객_소득              1326 non-null   float64
 5   고객_자녀수             1344 non-null   int64
 6   고객_청소년수            1344 non-null   int64
 7   고객_가입날짜            1344 non-null   object
 8   고객_최신구매일_경과기간      1344 non-null   int64
 9   고객_와인_구매금액         1344 non-null   int64
 10  고객_과일_구매금액         1344 non-null   int64
 11  고객_육류_구매금액         1344 non-null   int64
 12  고객_생선_구매금액         1344 non-null   int64
 13  고객_사탕_구매금액         1344 non-null   int64
 14  고객_골드_구매금액         1344 non-null   int64
 15  고객_할인품목_구매횟수       1344 non-null   int64
 16  고객_회사사이트_통한_구매횟수   1344 non-null   int64
 17  고객_카탈로그_통한_구매횟수    1344 non-null   int64
 18  고객_매장방문_구매횟수       1344 non-null   int64
 19  고객_지난달_회사사이트_방문횟수  1344 non-null   int64
 20  캠페인1_수락여부          1344 non-null   int64
 21  캠페인2_수락여부          1344 non-null   int64
 22  캠페인3_수락여부          1344 non-null   int64
 23  캠페인4_수락여부          1344 non-null   int64
 24  캠페인5_수락여부          1344 non-null   int64
 25  불만제기               1344 non-null   int64
 26  target             1344 non-null   int64
dtypes: float64(1), int64(22), object(4)
memory usage: 283.6+ KB

# 결측치 다루기
- 결측치는 데이터 분석에서 흔히 발생
- Pandas는 다양한 방법으로 결측치를 처리하고 관리할 수 있는 강력한 기능을 제공

In [7]:
import numpy as np
(df == np.nan).sum()

ID                   0
출생연도                 0
고객_교육수준              0
고객_결혼여부              0
고객_소득                0
고객_자녀수               0
고객_청소년수              0
고객_가입날짜              0
고객_최신구매일_경과기간        0
고객_와인_구매금액           0
고객_과일_구매금액           0
고객_육류_구매금액           0
고객_생선_구매금액           0
고객_사탕_구매금액           0
고객_골드_구매금액           0
고객_할인품목_구매횟수         0
고객_회사사이트_통한_구매횟수     0
고객_카탈로그_통한_구매횟수      0
고객_매장방문_구매횟수         0
고객_지난달_회사사이트_방문횟수    0
캠페인1_수락여부            0
캠페인2_수락여부            0
캠페인3_수락여부            0
캠페인4_수락여부            0
캠페인5_수락여부            0
불만제기                 0
target               0
dtype: int64

In [8]:
df.isnull()
df.isnull().sum()

ID                    0
출생연도                  0
고객_교육수준              13
고객_결혼여부               7
고객_소득                18
고객_자녀수                0
고객_청소년수               0
고객_가입날짜               0
고객_최신구매일_경과기간         0
고객_와인_구매금액            0
고객_과일_구매금액            0
고객_육류_구매금액            0
고객_생선_구매금액            0
고객_사탕_구매금액            0
고객_골드_구매금액            0
고객_할인품목_구매횟수          0
고객_회사사이트_통한_구매횟수      0
고객_카탈로그_통한_구매횟수       0
고객_매장방문_구매횟수          0
고객_지난달_회사사이트_방문횟수     0
캠페인1_수락여부             0
캠페인2_수락여부             0
캠페인3_수락여부             0
캠페인4_수락여부             0
캠페인5_수락여부             0
불만제기                  0
target                0
dtype: int64

In [9]:
df.isnull().sum().index

Index(['ID', '출생연도', '고객_교육수준', '고객_결혼여부', '고객_소득', '고객_자녀수', '고객_청소년수',
       '고객_가입날짜', '고객_최신구매일_경과기간', '고객_와인_구매금액', '고객_과일_구매금액', '고객_육류_구매금액',
       '고객_생선_구매금액', '고객_사탕_구매금액', '고객_골드_구매금액', '고객_할인품목_구매횟수',
       '고객_회사사이트_통한_구매횟수', '고객_카탈로그_통한_구매횟수', '고객_매장방문_구매횟수',
       '고객_지난달_회사사이트_방문횟수', '캠페인1_수락여부', '캠페인2_수락여부', '캠페인3_수락여부', '캠페인4_수락여부',
       '캠페인5_수락여부', '불만제기', 'target'],
      dtype='object')

In [10]:
df.isnull().sum().values #값들만가져오기

array([ 0,  0, 13,  7, 18,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0])

In [11]:
df.to_numpy

<bound method DataFrame.to_numpy of               ID  출생연도 고객_교육수준 고객_결혼여부    고객_소득  고객_자녀수  고객_청소년수     고객_가입날짜  \
0        train_0  1969      박사      기혼  30396.0       1        0  2014-04-30
1        train_1  1967      박사      기혼  36947.0       1        1  2012-08-07
2        train_2  1949      석사      사별  47570.0       1        1  2013-05-29
3        train_3  1976      석사      기혼  81929.0       1        0  2012-09-29
4        train_4  1982      고졸      기혼  57937.0       0        1  2014-02-16
...          ...   ...     ...     ...      ...     ...      ...         ...
1339  train_1339  1986      석사      미혼  21888.0       1        0  2012-12-29
1340  train_1340  1976      학사      미혼  37697.0       1        0  2014-02-07
1341  train_1341  1967      학사      기혼  35441.0       1        1  2013-02-14
1342  train_1342  1983      학사      기혼  36790.0       0        0  2013-03-01
1343  train_1343  1981      학사      기혼  40211.0       1        1  2013-07-30

      고객_최신구매일_경과기간  고객_와인_구매금액  ...  고객_카탈로그_통한_구매횟수  고객_매장방문_구매횟수  \
0                22          15  ...                1             2
1                49          88  ...                0             4
2                 3          67  ...                2             2
3                60        1486  ...                4            10
4                56         261  ...                4             9
...             ...         ...  ...              ...           ...
1339             15          88  ...                1             2
1340             82          34  ...                1             3
1341             94          25  ...                0             3
1342             14           3  ...                1             2
1343             30          51  ...                1             2

      고객_지난달_회사사이트_방문횟수  캠페인1_수락여부  캠페인2_수락여부  캠페인3_수락여부  캠페인4_수락여부  \
0                     7          0          0          1          0
1                     9          0          0          0          0
2                     7          0          0          0          0
3                     6          0          0          1          0
4                     3          0          0          0          0
...                 ...        ...        ...        ...        ...
1339                 10          0          0          0          0
1340                  6          0          0          0          0
1341                  8          0          0          0          0
1342                  9          0          0          0          0
1343                  8          0          0          1          0

      캠페인5_수락여부  불만제기  target
0             0     0       1
1             0     0       0
2             0     0       1
3             1     0       1
4             0     0       0
...         ...   ...     ...
1339          0     0       1
1340          0     0       0
1341          0     0       0
1342          0     0       1
1343          0     0       0

[1344 rows x 27 columns]>

In [12]:
mask = df.isnull().sum() > 0
cols = df.isnull().sum()[mask].index
df[cols]

     고객_교육수준 고객_결혼여부    고객_소득
0         박사      기혼  30396.0
1         박사      기혼  36947.0
2         석사      사별  47570.0
3         석사      기혼  81929.0
4         고졸      기혼  57937.0
...      ...     ...      ...
1339      석사      미혼  21888.0
1340      학사      미혼  37697.0
1341      학사      기혼  35441.0
1342      학사      기혼  36790.0
1343      학사      기혼  40211.0

[1344 rows x 3 columns]

In [13]:
df.dropna(how='any') #결측치가 하나라도 있으면(1개이상) 삭제

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396.0,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947.0,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570.0,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929.0,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937.0,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,train_1339,1986,석사,미혼,21888.0,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1
1340,train_1340,1976,학사,미혼,37697.0,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441.0,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790.0,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211.0,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

In [14]:
df.dropna(how='all') # 모든행이 다 결측치일때만 사용
## 보통 괄호안은 사용하지 않는다

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396.0,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947.0,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570.0,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929.0,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937.0,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,train_1339,1986,석사,미혼,21888.0,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1
1340,train_1340,1976,학사,미혼,37697.0,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441.0,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790.0,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211.0,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

## 결측치 채우기

In [15]:
df.isnull().sum()

ID                    0
출생연도                  0
고객_교육수준              13
고객_결혼여부               7
고객_소득                18
고객_자녀수                0
고객_청소년수               0
고객_가입날짜               0
고객_최신구매일_경과기간         0
고객_와인_구매금액            0
고객_과일_구매금액            0
고객_육류_구매금액            0
고객_생선_구매금액            0
고객_사탕_구매금액            0
고객_골드_구매금액            0
고객_할인품목_구매횟수          0
고객_회사사이트_통한_구매횟수      0
고객_카탈로그_통한_구매횟수       0
고객_매장방문_구매횟수          0
고객_지난달_회사사이트_방문횟수     0
캠페인1_수락여부             0
캠페인2_수락여부             0
캠페인3_수락여부             0
캠페인4_수락여부             0
캠페인5_수락여부             0
불만제기                  0
target                0
dtype: int64

In [16]:
df.columns

Index(['ID', '출생연도', '고객_교육수준', '고객_결혼여부', '고객_소득', '고객_자녀수', '고객_청소년수',
       '고객_가입날짜', '고객_최신구매일_경과기간', '고객_와인_구매금액', '고객_과일_구매금액', '고객_육류_구매금액',
       '고객_생선_구매금액', '고객_사탕_구매금액', '고객_골드_구매금액', '고객_할인품목_구매횟수',
       '고객_회사사이트_통한_구매횟수', '고객_카탈로그_통한_구매횟수', '고객_매장방문_구매횟수',
       '고객_지난달_회사사이트_방문횟수', '캠페인1_수락여부', '캠페인2_수락여부', '캠페인3_수락여부', '캠페인4_수락여부',
       '캠페인5_수락여부', '불만제기', 'target'],
      dtype='object')

In [17]:
mode_value = df['고객_교육수준'].mode()[0]
median_value = df['고객_소득'].median()

In [18]:
df['고객_교육수준'].fillna(mode_value) ## 최빈값

0       박사
1       박사
2       석사
3       석사
4       고졸
        ..
1339    석사
1340    학사
1341    학사
1342    학사
1343    학사
Name: 고객_교육수준, Length: 1344, dtype: object

In [19]:
df['고객_교육수준'] =df['고객_교육수준'].fillna(mode_value)
df['고객_결혼여부'] = df['고객_결혼여부'].fillna('LMK')
df['고객_소득'] = df['고객_소득'].fillna(median_value)

df.isnull().sum()

ID                   0
출생연도                 0
고객_교육수준              0
고객_결혼여부              0
고객_소득                0
고객_자녀수               0
고객_청소년수              0
고객_가입날짜              0
고객_최신구매일_경과기간        0
고객_와인_구매금액           0
고객_과일_구매금액           0
고객_육류_구매금액           0
고객_생선_구매금액           0
고객_사탕_구매금액           0
고객_골드_구매금액           0
고객_할인품목_구매횟수         0
고객_회사사이트_통한_구매횟수     0
고객_카탈로그_통한_구매횟수      0
고객_매장방문_구매횟수         0
고객_지난달_회사사이트_방문횟수    0
캠페인1_수락여부            0
캠페인2_수락여부            0
캠페인3_수락여부            0
캠페인4_수락여부            0
캠페인5_수락여부            0
불만제기                 0
target               0
dtype: int64

In [20]:
df.isnull().sum().sum()
# 결측치 잘 채워졌는지 다시 확인

0

# 특정값들 포함여부
- `isin` 메서드 사용

In [21]:
df.head()

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396.0,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947.0,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570.0,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929.0,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937.0,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0

In [22]:
lst = ['학사','석사']

## 학사나 석사면 True, 아니면 False
mask=df['고객_교육수준'].isin(lst)
# bool 자료형을 담고 있는 시리즈가 반환
df.loc[mask]

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
2,train_2,1949,석사,사별,47570.0,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929.0,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
5,train_5,1969,학사,동거,21918.0,1,0,2013-11-14,37,1,...,0,3,6,0,0,0,0,0,0,0
8,train_8,1976,학사,이혼,31615.0,1,0,2013-03-16,82,2,...,0,3,7,0,0,0,0,0,0,0
9,train_9,1979,학사,미혼,48526.0,1,0,2013-12-24,32,23,...,1,4,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,train_1339,1986,석사,미혼,21888.0,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1
1340,train_1340,1976,학사,미혼,37697.0,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441.0,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790.0,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211.0,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

# 타입 변환(type casting)하기
- `astype` 메소드를 사용

In [23]:
## display 안에 넣어주면 여러개 동시에 볼 수 있다

display(df.head())
display(df.info())

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396.0,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947.0,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570.0,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929.0,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937.0,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1344 non-null   object
 1   출생연도               1344 non-null   int64
 2   고객_교육수준            1344 non-null   object
 3   고객_결혼여부            1344 non-null   object
 4   고객_소득              1344 non-null   float64
 5   고객_자녀수             1344 non-null   int64
 6   고객_청소년수            1344 non-null   int64
 7   고객_가입날짜            1344 non-null   object
 8   고객_최신구매일_경과기간      1344 non-null   int64
 9   고객_와인_구매금액         1344 non-null   int64
 10  고객_과일_구매금액         1344 non-null   int64
 11  고객_육류_구매금액         1344 non-null   int64
 12  고객_생선_구매금액         1344 non-null   int64
 13  고객_사탕_구매금액         1344 non-null   int64
 14  고객_골드_구매금액         1344 non-null   int64
 15  고객_할인품목_구매횟수       1344 non-null   int64
 16  고객_회사사이트_통한_구매횟수   1344 non-null   int64
 17  고객_카탈로그_통한_구매횟수    1344 non-null   int64
 18  고객_매장방문_구매횟수       1344 non-null   int64
 19  고객_지난달_회사사이트_방문횟수  1344 non-null   int64
 20  캠페인1_수락여부          1344 non-null   int64
 21  캠페인2_수락여부          1344 non-null   int64
 22  캠페인3_수락여부          1344 non-null   int64
 23  캠페인4_수락여부          1344 non-null   int64
 24  캠페인5_수락여부          1344 non-null   int64
 25  불만제기               1344 non-null   int64
 26  target             1344 non-null   int64
dtypes: float64(1), int64(22), object(4)
memory usage: 283.6+ KB

None

In [24]:
df['고객_소득'] = df['고객_소득'].astype('int64')
df['고객_소득']

0       30396
1       36947
2       47570
3       81929
4       57937
        ...
1339    21888
1340    37697
1341    35441
1342    36790
1343    40211
Name: 고객_소득, Length: 1344, dtype: int64

In [25]:
df['출생연도'] =df['출생연도'].astype('object')
df['출생연도']

0       1969
1       1967
2       1949
3       1976
4       1982
        ...
1339    1986
1340    1976
1341    1967
1342    1983
1343    1981
Name: 출생연도, Length: 1344, dtype: object

In [26]:
df['출생연도'].astype('category')

0       1969
1       1967
2       1949
3       1976
4       1982
        ...
1339    1986
1340    1976
1341    1967
1342    1983
1343    1981
Name: 출생연도, Length: 1344, dtype: category
Categories (56, int64): [1900, 1941, 1943, 1944, ..., 1993, 1994, 1995, 1996]

# 문자열 다루기
- object 타입 Series 의 `str` 하위 속성을 이용하여 다양한 메소드를 사용

In [27]:
df['고객_교육수준'].str.strip()
# 앞뒤 공백제거

0       박사
1       박사
2       석사
3       석사
4       고졸
        ..
1339    석사
1340    학사
1341    학사
1342    학사
1343    학사
Name: 고객_교육수준, Length: 1344, dtype: object

In [28]:
df['고객_가입날짜'].str.replace('-','/')
# 문자열 치환
# 첫번째 인수는 변경전 문자열, 두번째 인수느 변경후 문자열

0       2014/04/30
1       2012/08/07
2       2013/05/29
3       2012/09/29
4       2014/02/16
           ...
1339    2012/12/29
1340    2014/02/07
1341    2013/02/14
1342    2013/03/01
1343    2013/07/30
Name: 고객_가입날짜, Length: 1344, dtype: object

In [29]:
df['고객_가입날짜'].str.replace('-','/', regex=True)
# 정규표현식 사용

0       2014/04/30
1       2012/08/07
2       2013/05/29
3       2012/09/29
4       2014/02/16
           ...
1339    2012/12/29
1340    2014/02/07
1341    2013/02/14
1342    2013/03/01
1343    2013/07/30
Name: 고객_가입날짜, Length: 1344, dtype: object

In [33]:
df['고객_가입날짜'].str.replace('[d]','0', regex=True)

0       2014-04-30
1       2012-08-07
2       2013-05-29
3       2012-09-29
4       2014-02-16
           ...
1339    2012-12-29
1340    2014-02-07
1341    2013-02-14
1342    2013-03-01
1343    2013-07-30
Name: 고객_가입날짜, Length: 1344, dtype: object

In [34]:
# 문자열 나오기
tmp = df['고객_가입날짜'].str.split('-')
# 각 샘플에 리스트 형태로 반환에서 담음
tmp

0       [2014, 04, 30]
1       [2012, 08, 07]
2       [2013, 05, 29]
3       [2012, 09, 29]
4       [2014, 02, 16]
             ...
1339    [2012, 12, 29]
1340    [2014, 02, 07]
1341    [2013, 02, 14]
1342    [2013, 03, 01]
1343    [2013, 07, 30]
Name: 고객_가입날짜, Length: 1344, dtype: object

In [35]:
df['고객_가입날짜'].str.split('-', expand=True)

         0   1   2
0     2014  04  30
1     2012  08  07
2     2013  05  29
3     2012  09  29
4     2014  02  16
...    ...  ..  ..
1339  2012  12  29
1340  2014  02  07
1341  2013  02  14
1342  2013  03  01
1343  2013  07  30

[1344 rows x 3 columns]

In [36]:
# 문자열 길이
df['고객_가입날짜'].str.len()

0       10
1       10
2       10
3       10
4       10
        ..
1339    10
1340    10
1341    10
1342    10
1343    10
Name: 고객_가입날짜, Length: 1344, dtype: int64

In [37]:
# 대소문자 upper, 소문자 lower
df['ID'].str.upper()

0          TRAIN_0
1          TRAIN_1
2          TRAIN_2
3          TRAIN_3
4          TRAIN_4
           ...
1339    TRAIN_1339
1340    TRAIN_1340
1341    TRAIN_1341
1342    TRAIN_1342
1343    TRAIN_1343
Name: ID, Length: 1344, dtype: object

In [38]:
df['고객_교육수준'].str.startswith('박')
# 반대는 endswith
# 특정문자 포함 contains

0        True
1        True
2       False
3       False
4       False
        ...
1339    False
1340    False
1341    False
1342    False
1343    False
Name: 고객_교육수준, Length: 1344, dtype: bool

In [39]:
# 문자열 슬라이싱 , 인덱싱

df['고객_가입날짜'].str[:4]

0       2014
1       2012
2       2013
3       2012
4       2014
        ...
1339    2012
1340    2014
1341    2013
1342    2013
1343    2013
Name: 고객_가입날짜, Length: 1344, dtype: object

# 피벗 테이블 사용해보기
- 데이터프레임의 특정 열을 기준으로 데이터를 재구성하여 새로운 형태의 데이터프레임을 생성하는 함수
- 주요 파라미터
    - index
        - 새로운 데이터프레임의 행 인덱스로 사용할 열
    - columns
        - 새로운 데이터프레임의 열 인덱스로 사용할 열
    - values
        - 새로운 데이터프레임에 채울 값
        - 집계 대상이되는 열
    - aggfunc
        - values 에 대한 집계 함수
        - 기본적인 std,var,mean, sum, count 등은 문자열로 전달 가능
    - fill_value
        - NaN에 대해 채울 값

![20240901_194940.jpg]()

In [44]:
df['출생연도'].nunique()

56

In [45]:
pd.pivot_table(
    df, # 대상이 되는 데이터프레임
    index='출생연도',  # 그룹바이로 예를 듦녀 첫번째 키
    values='고객_와인_구매금액',  # 집계 대상 컬럼
    aggfunc= lambda x : x.mean() # 집계함수
)

       고객_와인_구매금액
출생연도
1900    15.000000
1941  1285.000000
1943   714.400000
1944   593.600000
1945   452.800000
1946   481.583333
1947   734.333333
1948   357.000000
1949   453.150000
1950   197.833333
1951   277.727273
1952   388.793103
1953   256.000000
1954   398.310345
1955   388.800000
1956   361.314286
1957   343.250000
1958   419.514286
1959   449.466667
1960   328.476190
1961   475.500000
1962   396.176471
1963   277.115385
1964   392.357143
1965   326.720930
1966   294.578947
1967   324.760000
1968   253.600000
1969   309.152174
1970   315.800000
1971   253.454545
1972   270.627451
1973   192.214286
1974   219.500000
1975   294.018868
1976   254.333333
1977   260.655172
1978   141.788462
1979   120.074074
1980   216.000000
1981   266.080000
1982   381.241379
1983   232.173913
1984   130.080000
1985   231.263158
1986   205.956522
1987   332.277778
1988   300.176471
1989   234.583333
1990   299.727273
1991   255.714286
1992   249.272727
1993   393.000000
1994   659.000000
1995     4.000000
1996     1.500000

In [46]:
bpd.pivot_table(
    df, # 대상이 되는 데이터프레임
    index='출생연도',  # 그룹바이로 예를 듦녀 첫번째 키
    values='고객_와인_구매금액',  # 집계 대상 컬럼
    aggfunc= 'mean' # 집계함수
)

NameError: name 'bpd' is not defined

In [47]:
tmp.reset_index()

      level_0  index         고객_가입날짜
0           0      0  [2014, 04, 30]
1           1      1  [2012, 08, 07]
2           2      2  [2013, 05, 29]
3           3      3  [2012, 09, 29]
4           4      4  [2014, 02, 16]
...       ...    ...             ...
1339     1339   1339  [2012, 12, 29]
1340     1340   1340  [2014, 02, 07]
1341     1341   1341  [2013, 02, 14]
1342     1342   1342  [2013, 03, 01]
1343     1343   1343  [2013, 07, 30]

[1344 rows x 3 columns]

In [48]:
# 각 고객 교육수준에 대하여 고객 결혼여부 별
# 캠페인 수락 비율을 알고 싶담ㅕㄴ

tmp=pd.pivot_table(
    df,
    index = '고객_교육수준'  ,
    columns = '고객_결혼여부',
    values = 'target',
    aggfunc = 'mean'

)

tmp

고객_결혼여부       LMK        기혼        동거        미혼        사별        이혼
고객_교육수준
고졸            NaN  0.142857  0.090909  0.150000  0.000000  0.230769
박사       0.666667  0.149606  0.082192  0.355932  0.272727  0.242424
석사       0.000000  0.090909  0.107143  0.208333  0.625000  0.181818
초졸_중졸         NaN  0.000000  0.142857  0.000000  0.000000       NaN
학사       0.500000  0.099206  0.114650  0.201299  0.173913  0.166667

In [49]:
tmp.reset_index()

고객_결혼여부 고객_교육수준       LMK        기혼        동거        미혼        사별        이혼
0            고졸       NaN  0.142857  0.090909  0.150000  0.000000  0.230769
1            박사  0.666667  0.149606  0.082192  0.355932  0.272727  0.242424
2            석사  0.000000  0.090909  0.107143  0.208333  0.625000  0.181818
3         초졸_중졸       NaN  0.000000  0.142857  0.000000  0.000000       NaN
4            학사  0.500000  0.099206  0.114650  0.201299  0.173913  0.166667

In [50]:
tmp.columns

Index(['LMK', '기혼', '동거', '미혼', '사별', '이혼'], dtype='object', name='고객_결혼여부')

In [51]:
# 각 고객_교육수준에 대하여 고객_결혼여부 별 고객_소득에 대한 평균과 표준편차를 보고 싶다면???
tmp = pd.pivot_table(
    df,
    index = "고객_교육수준",
    columns = "고객_결혼여부",
    values = "고객_소득",
    aggfunc = ["mean", "std"]
)
tmp

                 mean                                                          \
고객_결혼여부           LMK            기혼            동거            미혼            사별
고객_교육수준
고졸                NaN  45923.673469  44406.393939  55557.650000  49444.250000
박사       44241.333333  56805.889764  56573.424658  52702.305085  60973.181818
석사       63409.000000  54570.920455  50571.517857  51670.729167  55646.375000
초졸_중졸             NaN  23020.461538  22734.000000  17911.285714  22123.000000
학사       56710.000000  50818.087302  57304.535032  50344.675325  55103.304348

                                std                                            \
고객_결혼여부            이혼           LMK            기혼            동거            미혼
고객_교육수준
고졸       46775.538462           NaN  23056.346956  22078.374227  22576.480396
박사       51980.151515   7258.447584  22249.766926  22999.311243  20412.430236
석사       48043.681818   2938.735783  18634.480297  17850.990669  21223.705778
초졸_중졸             NaN           NaN   6150.093246   4285.984445   5959.109245
학사       55841.513889  31867.888415  21540.443198  52906.634674  21551.671401


고객_결혼여부            사별            이혼
고객_교육수준
고졸       19118.780145  23067.436953
박사       15295.474074  18095.028520
석사       16082.267199  16932.318755
초졸_중졸             NaN           NaN
학사       18096.275929  22982.250990

In [52]:
tmp.columns = [ "_".join(col) for col in tmp.columns]
tmp

,mean_LMK,mean_기혼,mean_동거,mean_미혼,mean_사별,mean_이혼,std_LMK,std_기혼,std_동거,std_미혼,std_사별,std_이혼
고객_교육수준,,,,,,,,,,,,
고졸,NaN,45923.673469,44406.393939,55557.650000,49444.250000,46775.538462,NaN,23056.346956,22078.374227,22576.480396,19118.780145,23067.436953
박사,44241.333333,56805.889764,56573.424658,52702.305085,60973.181818,51980.151515,7258.447584,22249.766926,22999.311243,20412.430236,15295.474074,18095.028520
석사,63409.000000,54570.920455,50571.517857,51670.729167,55646.375000,48043.681818,2938.735783,18634.480297,17850.990669,21223.705778,16082.267199,16932.318755
초졸_중졸,NaN,23020.461538,22734.000000,17911.285714,22123.000000,NaN,NaN,6150.093246,4285.984445,5959.109245,NaN,NaN
학사,56710.000000,50818.087302,57304.535032,50344.675325,55103.304348,55841.513889,31867.888415,21540.443198,52906.634674,21551.671401,18096.275929,22982.250990

In [53]:
tmp = tmp.reset_index()
tmp

,고객_교육수준,mean_LMK,mean_기혼,mean_동거,mean_미혼,mean_사별,mean_이혼,std_LMK,std_기혼,std_동거,std_미혼,std_사별,std_이혼
0,고졸,NaN,45923.673469,44406.393939,55557.650000,49444.250000,46775.538462,NaN,23056.346956,22078.374227,22576.480396,19118.780145,23067.436953
1,박사,44241.333333,56805.889764,56573.424658,52702.305085,60973.181818,51980.151515,7258.447584,22249.766926,22999.311243,20412.430236,15295.474074,18095.028520
2,석사,63409.000000,54570.920455,50571.517857,51670.729167,55646.375000,48043.681818,2938.735783,18634.480297,17850.990669,21223.705778,16082.267199,16932.318755
3,초졸_중졸,NaN,23020.461538,22734.000000,17911.285714,22123.000000,NaN,NaN,6150.093246,4285.984445,5959.109245,NaN,NaN
4,학사,56710.000000,50818.087302,57304.535032,50344.675325,55103.304348,55841.513889,31867.888415,21540.443198,52906.634674,21551.671401,18096.275929,22982.250990

In [54]:
# 출생 연도별 고객_교육수준에 대한 최빈값
pd.pivot_table(
    df,
    index = "출생연도",
    values = "고객_교육수준",
    aggfunc= lambda x: x.mode()[0]
)

     고객_교육수준
출생연도
1900      고졸
1941      박사
1943      석사
1944      석사
1945      박사
1946      박사
1947      박사
1948      박사
1949      박사
1950      박사
1951      학사
1952      학사
1953      학사
1954      학사
1955      학사
1956      학사
1957      학사
1958      학사
1959      학사
1960      학사
1961      학사
1962      학사
1963      학사
1964      학사
1965      학사
1966      학사
1967      학사
1968      학사
1969      학사
1970      학사
1971      학사
1972      학사
1973      학사
1974      학사
1975      학사
1976      학사
1977      학사
1978      학사
1979      학사
1980      학사
1981      학사
1982      학사
1983      학사
1984      학사
1985      학사
1986      학사
1987      학사
1988      학사
1989      학사
1990      학사
1991      학사
1992      학사
1993      학사
1994      학사
1995      학사
1996      고졸

# groupby 사용하기
- 데이터프레임을 특정 열 또는 열의 조합을 기준으로 그룹화하고, 각 그룹에 대해 다양한 집계 함수를 적용할 수 있는 기능

![다운로드.png]()

## groupy by 결과에 대한 단일 컬럼을 지정하여 집계하는 예시

```python
# 그룹핑 대상 컬럼: 문자열 또는 리스트로 전달
DataFrame.groupby(<그룹핑 대상 컬럼>)["집계대상컬럼명"].<집계메소드>()
```

In [55]:
df.groupby("출생연도")["target"].sum().sort_values(ascending=False)

출생연도
1970    11
1971    11
1982    10
1972    10
1984     9
1977     7
1975     7
1966     6
1957     6
1974     5
1959     5
1954     5
1969     5
1949     5
1976     5
1987     4
1973     4
1979     4
1980     4
1981     4
1983     4
1986     4
1956     4
1961     4
1990     4
1953     4
1955     4
1963     3
1978     3
1962     3
1964     3
1968     3
1967     3
1965     3
1958     2
1947     2
1946     2
1945     2
1985     2
1952     2
1989     1
1988     1
1991     1
1992     1
1993     1
1994     1
1996     1
1960     1
1950     1
1948     1
1944     1
1943     1
1941     0
1951     0
1995     0
1900     0
Name: target, dtype: int64

## group by 결과에 대해 다중 컬럼을 집계

In [56]:
# 고객_교육수준 별로 고객_자녀수와 고객_최신구매일_경과기간 을 평균을 집계
lst = ["고객_자녀수", "고객_최신구매일_경과기간"]
df.groupby("고객_교육수준")[lst].mean()

           고객_자녀수  고객_최신구매일_경과기간
고객_교육수준
고졸       0.470588      49.857143
박사       0.401961      47.640523
석사       0.459821      47.517857
초졸_중졸    0.685714      51.285714
학사       0.453030      50.562121

## agg 매서드 사용
* 콜백 함수 및 집계 함수에 대응되는 문자열을 전달 가능

In [57]:
df.groupby("고객_교육수준")[lst].agg("mean")

           고객_자녀수  고객_최신구매일_경과기간
고객_교육수준
고졸       0.470588      49.857143
박사       0.401961      47.640523
석사       0.459821      47.517857
초졸_중졸    0.685714      51.285714
학사       0.453030      50.562121

In [58]:
lst

['고객_자녀수', '고객_최신구매일_경과기간']

In [59]:
tmp = df.groupby("고객_교육수준")[lst].agg(["mean", "std"])
tmp

           고객_자녀수           고객_최신구매일_경과기간
             mean       std          mean        std
고객_교육수준
고졸       0.470588  0.549631     49.857143  30.576740
박사       0.401961  0.541881     47.640523  29.027881
석사       0.459821  0.542533     47.517857  29.590473
초졸_중졸    0.685714  0.471008     51.285714  27.204640
학사       0.453030  0.536305     50.562121  28.977948

In [60]:
tmp.columns = [ "_".join(col) for col in tmp.columns]
tmp

         고객_자녀수_mean  고객_자녀수_std  고객_최신구매일_경과기간_mean  고객_최신구매일_경과기간_std
고객_교육수준
고졸          0.470588    0.549631           49.857143          30.576740
박사          0.401961    0.541881           47.640523          29.027881
석사          0.459821    0.542533           47.517857          29.590473
초졸_중졸       0.685714    0.471008           51.285714          27.204640
학사          0.453030    0.536305           50.562121          28.977948

* 단일 컬럼에 대해 다양하게 집계하면서 집계한 데이터에 컬럼명들을 정의하면서 집계

In [61]:
# 고객_교육수준 별 캠페인 수락률과 거부한 횟수
agg_list = [
    ["수락률", "mean"],
    ["거부한횟수", lambda x : (x == 0).sum() ]
]

tmp = df.groupby("고객_교육수준")["target"].agg(agg_list)
tmp.reset_index()

  고객_교육수준       수락률  거부한횟수
0      고졸  0.134454    103
1      박사  0.192810    247
2      석사  0.147321    191
3   초졸_중졸  0.028571     34
4      학사  0.137879    569

## groupy by 결과에 대한 딕셔너리를 이용하여 집계하는 예시.

```python
DataFrame.groupby(<그룹핑 대상 컬럼>).agg(<딕셔너리>)
```

- 딕셔너리 예시:
```python
{
    "집계대상컬럼" : <함수 or 문자열>
}
```

In [62]:
# 고객_교육수준 별로 캠페인 수락률을 알고 싶다면?
agg_dict = {
    "target": "mean"
}
tmp = df.groupby("고객_교육수준").agg(agg_dict)
tmp

           target
고객_교육수준
고졸       0.134454
박사       0.192810
석사       0.147321
초졸_중졸    0.028571
학사       0.137879

In [63]:
tmp.rename(columns={"target": "수락률"}).reset_index()

  고객_교육수준       수락률
0      고졸  0.134454
1      박사  0.192810
2      석사  0.147321
3   초졸_중졸  0.028571
4      학사  0.137879

In [64]:
agg_dict

{'target': 'mean'}

In [65]:
# 각 고객_교육수준 대하여 고객_결혼여부 별 수락률 확인하기
cols = ["고객_교육수준", "고객_결혼여부"]
tmp = df.groupby(cols).agg(agg_dict)
tmp

                   target
고객_교육수준 고객_결혼여부
고졸      기혼       0.142857
        동거       0.090909
        미혼       0.150000
        사별       0.000000
        이혼       0.230769
박사      LMK      0.666667
        기혼       0.149606
        동거       0.082192
        미혼       0.355932
        사별       0.272727
        이혼       0.242424
석사      LMK      0.000000
        기혼       0.090909
        동거       0.107143
        미혼       0.208333
        사별       0.625000
        이혼       0.181818
초졸_중졸   기혼       0.000000
        동거       0.142857
        미혼       0.000000
        사별       0.000000
학사      LMK      0.500000
        기혼       0.099206
        동거       0.114650
        미혼       0.201299
        사별       0.173913
        이혼       0.166667

* 여러 컬럼에 대하여 집계하는 예시

In [66]:
# 출생연도별로 고객_교육수준의 고유한 값들의 개수와 수락률을 알고 싶다면?
agg_dict = {
    "고객_교육수준": "nunique",
    "target" : "mean"
}
df.groupby("출생연도").agg(agg_dict)

      고객_교육수준    target
출생연도
1900        1  0.000000
1941        1  0.000000
1943        2  0.200000
1944        3  0.200000
1945        2  0.400000
1946        3  0.166667
1947        3  0.333333
1948        2  0.090909
1949        4  0.250000
1950        3  0.083333
1951        5  0.000000
1952        4  0.068966
1953        3  0.190476
1954        4  0.172414
1955        4  0.160000
1956        4  0.114286
1957        4  0.300000
1958        4  0.057143
1959        4  0.166667
1960        5  0.047619
1961        4  0.181818
1962        4  0.088235
1963        4  0.115385
1964        4  0.107143
1965        5  0.069767
1966        5  0.157895
1967        4  0.120000
1968        4  0.100000
1969        4  0.108696
1970        4  0.220000
1971        4  0.200000
1972        4  0.196078
1973        5  0.095238
1974        4  0.147059
1975        5  0.132075
1976        4  0.098039
1977        4  0.241379
1978        5  0.057692
1979        5  0.148148
1980        5  0.181818
1981        5  0.160000
1982        5  0.344828
1983        4  0.173913
1984        4  0.360000
1985        4  0.105263
1986        5  0.173913
1987        5  0.222222
1988        4  0.058824
1989        5  0.041667
1990        5  0.363636
1991        3  0.142857
1992        3  0.090909
1993        1  0.500000
1994        1  0.333333
1995        1  0.000000
1996        2  0.500000

* 집계 대상 컬럼 안에서 다양하게 집계하기

In [67]:
# 고객_교육수준 별로 고객_와인_구매금액에 대한 평균과 표준편차를 집계하고
# 출생연도의 unique 한 개수와, 최빈값을 확인하고 싶다면
agg_dict = {
    "고객_와인_구매금액": ["mean", "std"]  ,
    "출생연도": ["nunique",  lambda x: x.mode()[0] ]
}

df.groupby("고객_교육수준").agg(agg_dict)

         고객_와인_구매금액                출생연도
               mean         std nunique <lambda_0>
고객_교육수준
고졸       191.033613  248.707504      41       1973
박사       405.712418  401.388674      49       1971
석사       327.375000  352.460833      46       1956
초졸_중졸      9.742857   38.135473      21       1979
학사       279.266667  303.617654      52       1978

* 집계데이터 컬럼명 지정하면서 집계

In [68]:
agg_dict = {
    "고객_와인_구매금액": [
            ("고객_와인_구매금액_mean","mean"),
            ("고객_와인_구매금액_std","std")
        ],
    "출생연도": [
        ("출생연도_nunique","nunique"),
        ("출생연도_mode"  ,lambda x: x.mode()[0])
        ]
}

tmp = df.groupby("고객_교육수준").agg(agg_dict)
tmp

             고객_와인_구매금액                        출생연도
        고객_와인_구매금액_mean 고객_와인_구매금액_std 출생연도_nunique 출생연도_mode
고객_교육수준
고졸           191.033613     248.707504           41      1973
박사           405.712418     401.388674           49      1971
석사           327.375000     352.460833           46      1956
초졸_중졸          9.742857      38.135473           21      1979
학사           279.266667     303.617654           52      1978

In [69]:
tmp.columns = tmp.columns.droplevel()
tmp

         고객_와인_구매금액_mean  고객_와인_구매금액_std  출생연도_nunique  출생연도_mode
고객_교육수준
고졸            191.033613      248.707504            41       1973
박사            405.712418      401.388674            49       1971
석사            327.375000      352.460833            46       1956
초졸_중졸           9.742857       38.135473            21       1979
학사            279.266667      303.617654            52       1978

# 데이터 프레임 병합하기

## concat
- 수직 또는 수평으로 병합
- `pd.concat` 함수에 데이터프레임을 리스트에 담아서 전달

In [70]:
pd.concat([df,df])

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,train_1339,1986,석사,미혼,21888,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1
1340,train_1340,1976,학사,미혼,37697,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

In [72]:
pd.concat([df, df], axis=1) # 수평병합

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,train_1339,1986,석사,미혼,21888,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1
1340,train_1340,1976,학사,미혼,37697,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

## merge
- 두 개의 데이터프레임을 공통된 열(컬럼)을 기준으로 병합하는 데 사용
- how 파라미터
    - inner(기본값)
        - 기준이 되는 컬럼의 데이터로 merge 하는데 같은 값이 아닌 행들은 사라져서 반환
        - 두 DataFrame에 모두 존재하는 데이터만 병합
    - left
        - 기준이 되는 컬럼의 데이터로 merge 하는데 왼쪽 데이터 프레임의 같은 값이 아닌 행들이 사라지지 않고 반환
        - 왼쪽 DataFrame의 모든 데이터를 포함하고, 오른쪽 DataFrame에 없는 데이터는 NaN으로 채움

    ```python
    pd.merge(left, right, on='기준 컬럼', how='left')
    ```

![다운로드 (1).png]()

In [73]:
features = df.iloc[:, 1:-1]
features.head()

,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,고객_과일_구매금액,...,고객_회사사이트_통한_구매횟수,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기
0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,0,...,1,1,2,7,0,0,1,0,0,0
1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,3,...,3,0,4,9,0,0,0,0,0,0
2,1949,석사,사별,47570,1,1,2013-05-29,3,67,1,...,2,2,2,7,0,0,0,0,0,0
3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,55,...,4,4,10,6,0,0,1,0,1,0
4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,42,...,4,4,9,3,0,0,0,0,0,0

In [74]:
# 고객_교육수준 별 등장 빈도수를 특성으로 추가하고 싶다면??
tmp = df["고객_교육수준"].value_counts().reset_index().rename(columns = {"count":"고객_교육수준_count"})
tmp

  고객_교육수준  고객_교육수준_count
0      학사            660
1      박사            306
2      석사            224
3      고졸            119
4   초졸_중졸             35

In [75]:
features = pd.merge(features, tmp, how="left" , on = "고객_교육수준")
features.head()

,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,고객_과일_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,고객_교육수준_count
0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,0,...,1,2,7,0,0,1,0,0,0,306
1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,3,...,0,4,9,0,0,0,0,0,0,306
2,1949,석사,사별,47570,1,1,2013-05-29,3,67,1,...,2,2,7,0,0,0,0,0,0,224
3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,55,...,4,10,6,0,0,1,0,1,0,224
4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,42,...,4,9,3,0,0,0,0,0,0,119

* merge 되는 기준 컬럼이 다수인 경우

In [76]:
# 각 고객_교육수준 에 대하여 고객_결혼여부 별  고객_매장방문_구매횟수 에 대한 평균, 출생연도의 다양성을 피처로 추가하기
agg_dict = {
    "고객_매장방문_구매횟수": "mean",
    "출생연도": "nunique"
}

tmp = df.groupby(["고객_교육수준", "고객_결혼여부"]).agg(agg_dict)
tmp = tmp.add_prefix("feature_").reset_index()
tmp

   고객_교육수준 고객_결혼여부  feature_고객_매장방문_구매횟수  feature_출생연도
0       고졸      기혼              5.469388            28
1       고졸      동거              4.969697            21
2       고졸      미혼              5.400000            16
3       고졸      사별              6.250000             4
4       고졸      이혼              5.000000            12
5       박사     LMK              4.666667             1
6       박사      기혼              6.165354            43
7       박사      동거              6.041096            35
8       박사      미혼              5.610169            33
9       박사      사별              8.272727            10
10      박사      이혼              5.242424            25
11      석사     LMK              6.000000             2
12      석사      기혼              6.170455            37
13      석사      동거              5.732143            30
14      석사      미혼              6.083333            30
15      석사      사별              6.750000             7
16      석사      이혼              5.363636            15
17   초졸_중졸      기혼              3.307692            11
18   초졸_중졸      동거              2.285714             6
19   초졸_중졸      미혼              2.642857             9
20   초졸_중졸      사별              3.000000             1
21      학사     LMK              5.500000             2
22      학사      기혼              5.698413            45
23      학사      동거              5.961783            45
24      학사      미혼              5.441558            46
25      학사      사별              6.173913            17
26      학사      이혼              6.097222            31

In [77]:
features = pd.merge(features, tmp, how="left", on=["고객_교육수준", "고객_결혼여부"])
features.head()

,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,고객_과일_구매금액,...,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,고객_교육수준_count,feature_고객_매장방문_구매횟수,feature_출생연도
0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,0,...,7,0,0,1,0,0,0,306,6.165354,43
1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,3,...,9,0,0,0,0,0,0,306,6.165354,43
2,1949,석사,사별,47570,1,1,2013-05-29,3,67,1,...,7,0,0,0,0,0,0,224,6.750000,7
3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,55,...,6,0,0,1,0,1,0,224,6.170455,37
4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,42,...,3,0,0,0,0,0,0,119,5.469388,28

# apply 메소드 사용해보기
- Pandas의 apply 메서드는 데이터프레임의 특정 축(행 또는 열)에 사용자 정의 함수를 적용하여 새로운 데이터를 생성하거나 기존 데이터를 변환하는 데 사용
- Series, DataFrame에 단순한 집계가 아닌 구체적인 로직을 적용하고 싶을 때 활용
- 단순 집계 뿐이 아닌 각 데이터에 조건검사등 복잡한 처리가 가능
- apply에 전달한 콜백함수에 데이터를 인수로 전달한다.

In [78]:
cols = [ col for col in df.columns if col.startswith("캠페인") ]
cols

['캠페인1_수락여부', '캠페인2_수락여부', '캠페인3_수락여부', '캠페인4_수락여부', '캠페인5_수락여부']

In [79]:
# 고객_교육수준 별로 이전 캠페인들의 수락의 합을 보고 싶다면?
def do_apply(x):
    cols = [ col for col in df.columns if col.startswith("캠페인") ]
    return x[cols].sum().sum()

df.groupby("고객_교육수준").apply(do_apply)

<ipython-input-79-545efa1f600b>:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("고객_교육수준").apply(do_apply)

고객_교육수준
고졸        34
박사        98
석사        63
초졸_중졸      5
학사       205
dtype: int64

* series apply
  * axis 개념이 없음
  * 한 행씩 처리한다.

In [80]:
df["target"].apply(lambda x: "수락" if x == 1 else "거부")

0       수락
1       거부
2       수락
3       수락
4       거부
        ..
1339    수락
1340    거부
1341    거부
1342    수락
1343    거부
Name: target, Length: 1344, dtype: object

* Dataframe 의 경우는 axis 개념이 있음
   * axis=0: 기본값으로 행방향으로 처리(컬럼단위)
   * axis=1: 열방향으로 처리(행단위)

In [81]:
def do_apply(x):
    print(x.shape)
    return x.head()

tmp = df.apply(do_apply, axis=0)
tmp

(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)
(1344,)

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0

In [82]:
df2 = df.head()
df2

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0

In [83]:
def do_apply(x):
    print(x.shape)
    return x

tmp = df2.apply(do_apply, axis=1)
tmp

(27,)
(27,)
(27,)
(27,)
(27,)

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0

* grupy by 결과에 apply
   * dataframe 형태로 콜백함수에 x가 전달 된다.

In [84]:
def do_apply(x):
    display(x)
    print("="*50)
    return x

tmp = df.groupby("고객_교육수준").apply(do_apply)

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0
11,train_11,1984,고졸,기혼,35684,1,0,2014-04-22,66,10,...,0,3,6,0,0,0,0,0,0,0
17,train_17,1996,고졸,기혼,7500,0,0,2012-11-09,24,3,...,1,3,9,0,0,0,0,0,0,1
52,train_52,1977,고졸,동거,20981,0,0,2013-04-30,14,2,...,1,2,8,0,0,0,0,0,0,1
58,train_58,1949,고졸,사별,74859,0,0,2013-06-03,63,570,...,5,11,3,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,train_1281,1979,고졸,기혼,31086,1,1,2013-05-04,79,16,...,1,2,8,0,0,1,0,0,0,0
1293,train_1293,1955,고졸,이혼,41769,0,1,2013-02-13,31,302,...,1,7,8,0,0,0,0,0,0,0
1306,train_1306,1973,고졸,이혼,31163,1,0,2014-02-13,54,2,...,0,3,6,0,0,0,0,0,0,0
1328,train_1328,1981,고졸,동거,19414,1,0,2013-10-16,32,2,...,0,3,8,0,0,0,0,0,0,0
1335,train_1335,1973,고졸,기혼,43050,1,0,2014-03-18,10,30,...,0,4,5,0,0,0,0,0,0,0

==================================================

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
6,train_6,1970,박사,기혼,67536,0,1,2013-05-22,45,1253,...,5,11,8,1,0,0,0,0,0,0
7,train_7,1983,박사,기혼,50150,0,0,2013-06-20,32,135,...,2,7,5,0,0,0,0,0,0,0
14,train_14,1983,박사,이혼,90687,0,0,2013-05-22,98,982,...,2,8,2,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,train_1321,1985,박사,기혼,64355,1,0,2012-08-24,66,1047,...,3,12,8,0,0,0,0,0,0,0
1325,train_1325,1958,박사,이혼,32173,0,1,2013-08-01,0,18,...,0,3,4,0,0,0,0,0,0,0
1329,train_1329,1968,박사,미혼,38236,1,1,2013-09-20,2,58,...,0,4,7,0,0,0,0,0,0,0
1332,train_1332,1954,박사,기혼,52869,1,1,2012-10-15,40,84,...,1,4,7,0,0,0,0,0,0,1
1334,train_1334,1950,박사,기혼,54432,2,1,2013-05-09,37,33,...,0,3,4,0,0,0,0,0,0,0

==================================================

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
10,train_10,1968,석사,이혼,23748,1,0,2012-11-21,97,6,...,1,3,8,0,0,0,0,0,0,0
12,train_12,1952,석사,동거,40442,1,1,2012-08-19,52,45,...,1,4,7,0,0,0,0,0,0,1
16,train_16,1959,석사,동거,82576,0,0,2012-08-01,66,1206,...,4,12,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,train_1314,1953,석사,동거,56129,0,1,2013-06-20,65,320,...,2,10,4,0,0,0,0,0,0,0
1323,train_1323,1957,석사,동거,68148,0,0,2013-08-31,86,389,...,4,6,2,0,0,0,0,0,0,0
1327,train_1327,1970,석사,기혼,61872,0,1,2013-12-13,81,330,...,4,9,4,0,0,0,0,0,0,0
1333,train_1333,1944,석사,사별,45006,0,0,2013-07-18,90,162,...,1,7,3,0,0,0,0,0,0,0
1339,train_1339,1986,석사,미혼,21888,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1

==================================================

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
19,train_19,1989,초졸_중졸,기혼,25443,1,0,2012-12-22,82,1,...,0,3,8,0,0,0,0,0,0,0
60,train_60,1965,초졸_중졸,미혼,23529,0,1,2013-01-07,67,9,...,1,2,6,0,0,0,0,0,0,0
115,train_115,1975,초졸_중졸,기혼,30801,0,1,2012-10-26,23,8,...,0,3,7,0,0,0,0,0,0,0
142,train_142,1981,초졸_중졸,기혼,24480,1,0,2013-02-11,46,4,...,0,4,7,0,0,0,0,0,0,0
159,train_159,1992,초졸_중졸,미혼,7500,1,0,2012-12-03,63,10,...,2,2,9,0,0,0,0,0,0,0
181,train_181,1979,초졸_중졸,미혼,15862,1,0,2013-06-27,26,1,...,0,3,8,0,0,0,0,0,0,0
217,train_217,1966,초졸_중졸,동거,22634,0,0,2013-01-16,47,2,...,1,2,8,0,0,0,0,0,0,0
223,train_223,1981,초졸_중졸,기혼,34445,0,0,2013-01-27,92,228,...,2,8,9,0,0,0,0,0,0,0
232,train_232,1980,초졸_중졸,기혼,16005,1,0,2012-08-14,69,1,...,1,2,8,0,0,0,0,0,0,0
346,train_346,1960,초졸_중졸,사별,22123,0,0,2014-03-27,77,3,...,1,3,5,0,0,0,0,0,0,0
386,train_386,1986,초졸_중졸,기혼,20425,1,0,2012-10-29,5,4,...,0,3,7,0,0,0,0,0,0,0
471,train_471,1988,초졸_중졸,동거,13724,1,0,2012-08-31,43,2,...,0,2,9,0,0,1,0,0,0,0
493,train_493,1969,초졸_중졸,동거,22390,0,0,2013-10-21,49,0,...,0,2,7,0,0,0,0,0,0,0
506,train_506,1973,초졸_중졸,동거,27190,1,0,2013-08-15,13,1,...,0,2,8,0,0,1,0,0,0,1
521,train_521,1961,초졸_중졸,기혼,28249,0,0,2014-06-15,80,1,...,0,3,6,0,0,0,0,0,0,0
590,train_590,1987,초졸_중졸,미혼,15038,1,0,2013-01-29,93,4,...,1,2,9,0,0,0,0,0,0,0
612,train_612,1982,초졸_중졸,미혼,24367,1,0,2013-03-20,58,2,...,0,2,9,0,0,0,0,0,0,0
643,train_643,1973,초졸_중졸,기혼,18978,1,0,2012-12-11,41,2,...,0,3,8,0,0,0,0,0,0,0
660,train_660,1991,초졸_중졸,미혼,26868,1,0,2014-04-30,52,0,...,0,2,7,0,0,0,0,0,0,0
690,train_690,1986,초졸_중졸,미혼,8940,1,0,2012-08-22,25,1,...,1,3,8,0,0,0,0,0,0,0
692,train_692,1979,초졸_중졸,미혼,16014,1,1,2013-03-17,42,3,...,1,4,3,0,0,0,0,0,0,0
738,train_738,1951,초졸_중졸,기혼,26997,0,0,2012-11-05,89,7,...,2,5,7,0,0,0,0,0,0,0
750,train_750,1996,초졸_중졸,기혼,14421,0,0,2014-02-17,81,0,...,0,2,5,0,0,1,0,0,0,0
834,train_834,1992,초졸_중졸,미혼,15253,1,0,2013-10-28,13,1,...,0,3,7,0,0,0,0,0,0,0
845,train_845,1989,초졸_중졸,기혼,17487,1,0,2013-03-18,37,0,...,0,2,7,0,0,0,0,0,0,0
960,train_960,1986,초졸_중졸,미혼,14906,0,0,2012-12-22,86,7,...,1,3,7,0,0,0,0,0,0,0
999,train_999,1978,초졸_중졸,동거,24882,1,0,2012-09-09,52,1,...,1,2,6,0,0,1,0,0,0,0
1014,train_1014,1992,초졸_중졸,기혼,17256,1,0,2013-11-23,10,6,...,1,2,8,0,0,1,0,0,0,0
1058,train_1058,1990,초졸_중졸,미혼,16185,1,0,2013-08-05,71,5,...,2,2,8,0,0,0,0,0,0,0
1154,train_1154,1978,초졸_중졸,미혼,26487,1,0,2013-05-20,23,2,...,1,3,5,0,0,0,0,0,0,0
1165,train_1165,1979,초졸_중졸,동거,23724,1,0,2013-01-08,65,5,...,0,3,8,0,0,0,0,0,0,0
1220,train_1220,1979,초졸_중졸,동거,24594,1,0,2013-12-10,94,1,...,0,3,5,0,0,0,0,0,0,0
1266,train_1266,1987,초졸_중졸,미혼,21063,1,0,2013-09-25,34,1,...,0,3,6,0,0,0,0,0,0,0
1282,train_1282,1992,초졸_중졸,미혼,18746,1,0,2014-05-29,41,2,...,0,3,6,0,0,0,0,0,0,0
1324,train_1324,1990,초졸_중졸,기혼,24279,0,0,2012-12-29,6,16,...,1,3,8,0,0,0,0,0,0,0

==================================================

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
5,train_5,1969,학사,동거,21918,1,0,2013-11-14,37,1,...,0,3,6,0,0,0,0,0,0,0
8,train_8,1976,학사,이혼,31615,1,0,2013-03-16,82,2,...,0,3,7,0,0,0,0,0,0,0
9,train_9,1979,학사,미혼,48526,1,0,2013-12-24,32,23,...,1,4,3,0,0,0,0,0,0,0
13,train_13,1973,학사,기혼,79593,0,0,2014-05-12,70,350,...,6,7,2,0,0,0,0,1,0,0
15,train_15,1969,학사,기혼,73448,0,0,2014-02-10,10,236,...,2,9,4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,train_1338,1958,학사,동거,65196,0,2,2013-07-25,34,743,...,6,11,5,0,0,1,0,0,0,0
1340,train_1340,1976,학사,미혼,37697,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

==================================================

<ipython-input-84-50912d4ded19>:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tmp = df.groupby("고객_교육수준").apply(do_apply)

* 콜백 함수에 추가 파라미터 정의해보기

In [85]:
sal_mean = df["고객_소득"].mean()
sal_mean

52111.020833333336

In [86]:
# 고객_결혼여부 별 고객_소득의 평균과 전체 고객의소득의 평균과의 차이를  집계
def do_apply(x, sal_mean):
    return sal_mean - x["고객_소득"].mean()

df.groupby("고객_결혼여부").apply(do_apply, sal_mean=sal_mean)

<ipython-input-86-624fa8edc0ad>:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("고객_결혼여부").apply(do_apply, sal_mean=sal_mean)

고객_결혼여부
LMK   -1169.264881
기혼      367.593612
동거    -1825.255240
미혼     2264.844562
사별    -3275.191933
이혼     -753.100595
dtype: float64

## pandas의 apply에서 progress bar 사용하기

In [88]:
from tqdm.auto import tqdm
import time


for _ in tqdm(range(100)):
    time.sleep(0.01)
tqdm.pandas()



def do_apply(x):
    time.sleep(0.01)
    return x

df.progress_apply(do_apply, axis=1)

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/1344 [00:00<?, ?it/s]

,ID,출생연도,고객_교육수준,고객_결혼여부,고객_소득,고객_자녀수,고객_청소년수,고객_가입날짜,고객_최신구매일_경과기간,고객_와인_구매금액,...,고객_카탈로그_통한_구매횟수,고객_매장방문_구매횟수,고객_지난달_회사사이트_방문횟수,캠페인1_수락여부,캠페인2_수락여부,캠페인3_수락여부,캠페인4_수락여부,캠페인5_수락여부,불만제기,target
0,train_0,1969,박사,기혼,30396,1,0,2014-04-30,22,15,...,1,2,7,0,0,1,0,0,0,1
1,train_1,1967,박사,기혼,36947,1,1,2012-08-07,49,88,...,0,4,9,0,0,0,0,0,0,0
2,train_2,1949,석사,사별,47570,1,1,2013-05-29,3,67,...,2,2,7,0,0,0,0,0,0,1
3,train_3,1976,석사,기혼,81929,1,0,2012-09-29,60,1486,...,4,10,6,0,0,1,0,1,0,1
4,train_4,1982,고졸,기혼,57937,0,1,2014-02-16,56,261,...,4,9,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,train_1339,1986,석사,미혼,21888,1,0,2012-12-29,15,88,...,1,2,10,0,0,0,0,0,0,1
1340,train_1340,1976,학사,미혼,37697,1,0,2014-02-07,82,34,...,1,3,6,0,0,0,0,0,0,0
1341,train_1341,1967,학사,기혼,35441,1,1,2013-02-14,94,25,...,0,3,8,0,0,0,0,0,0,0
1342,train_1342,1983,학사,기혼,36790,0,0,2013-03-01,14,3,...,1,2,9,0,0,0,0,0,0,1
1343,train_1343,1981,학사,기혼,40211,1,1,2013-07-30,30,51,...,1,2,8,0,0,1,0,0,0,0

## datatime 으로 변환하기

In [89]:
# pd.to_datetime 함수 사용

df["고객_가입날짜"] = pd.to_datetime(df["고객_가입날짜"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1344 non-null   object
 1   출생연도               1344 non-null   object
 2   고객_교육수준            1344 non-null   object
 3   고객_결혼여부            1344 non-null   object
 4   고객_소득              1344 non-null   int64
 5   고객_자녀수             1344 non-null   int64
 6   고객_청소년수            1344 non-null   int64
 7   고객_가입날짜            1344 non-null   datetime64[ns]
 8   고객_최신구매일_경과기간      1344 non-null   int64
 9   고객_와인_구매금액         1344 non-null   int64
 10  고객_과일_구매금액         1344 non-null   int64
 11  고객_육류_구매금액         1344 non-null   int64
 12  고객_생선_구매금액         1344 non-null   int64
 13  고객_사탕_구매금액         1344 non-null   int64
 14  고객_골드_구매금액         1344 non-null   int64
 15  고객_할인품목_구매횟수       1344 non-null   int64
 16  고객_회사사이트_통한_구매횟수   1344 non-null   int64
 17  고객_카탈로그_통한_구매횟수    1344 non-null   int64
 18  고객_매장방문_구매횟수       1344 non-null   int64
 19  고객_지난달_회사사이트_방문횟수  1344 non-null   int64
 20  캠페인1_수락여부          1344 non-null   int64
 21  캠페인2_수락여부          1344 non-null   int64
 22  캠페인3_수락여부          1344 non-null   int64
 23  캠페인4_수락여부          1344 non-null   int64
 24  캠페인5_수락여부          1344 non-null   int64
 25  불만제기               1344 non-null   int64
 26  target             1344 non-null   int64
dtypes: datetime64[ns](1), int64(22), object(4)
memory usage: 283.6+ KB

In [90]:
df["고객_가입날짜"].dt.date

0       2014-04-30
1       2012-08-07
2       2013-05-29
3       2012-09-29
4       2014-02-16
           ...
1339    2012-12-29
1340    2014-02-07
1341    2013-02-14
1342    2013-03-01
1343    2013-07-30
Name: 고객_가입날짜, Length: 1344, dtype: object

In [91]:
df["고객_가입날짜"].dt.year # 연도
df["고객_가입날짜"].dt.month # 월
df["고객_가입날짜"].dt.day # 일
df["고객_가입날짜"].dt.quarter # 분기
df["고객_가입날짜"].dt.weekday # 요일 정보(0~6 , 월~일)
df["고객_가입날짜"].dt.dayofyear # 연기준 몇일째

df["고객_가입날짜"].dt.time # HH:MM:SS
df["고객_가입날짜"].dt.hour # 시간
df["고객_가입날짜"].dt.minute # 분
df["고객_가입날짜"].dt.second # 초

0       0
1       0
2       0
3       0
4       0
       ..
1339    0
1340    0
1341    0
1342    0
1343    0
Name: 고객_가입날짜, Length: 1344, dtype: int32